##################################################
# PYTHON
##################################################
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/

##################################################
# VIRTUAL ENVIRONMENTS
##################################################
venv/
virtual-env/
.env/
.env.*

##################################################
# AIRFLOW
##################################################
airflow.db
airflow.cfg
airflow-webserver.pid
logs/
scheduler/
triggerer/
webserver_config.py

##################################################
# SPARK
##################################################
spark-warehouse/
metastore_db/
derby.log

##################################################
# JUPYTER
##################################################
.ipynb_checkpoints/

##################################################
# ENV VARIABLES
##################################################
.env
*.env

##################################################
# IDE
##################################################
.vscode/
.idea/
*.swp

##################################################
# OS FILES
##################################################
.DS_Store
Thumbs.db

##################################################
# DOCKER (if used later)
##################################################
*.log
docker-compose.override.yml